<div id="filter-bar">
  
  <div id="order-by">
    Order by:
    <a href="{{space.permalink}}" title="show recipes in date order" class="btn {% if filter == "own" %}{% else %}{% if sort == "likes" %}{% else %}active{% endif %}{% endif %}">date</a>
    <a href="{{space.permalink}}?sort=likes" title="show most popular recipes first" class="btn {% if sort == "likes" %}active{% endif %}">popular</a>
{% if current_user %}<a href="{{space.permalink}}?filter=own" title="show my recipes" class="btn {% if filter == "own" %}active{% endif %}">mine</a>{% endif %}
  </div>
  
</div>

{% if space.ideas != empty %}
<ul class="colours">
  {% for idea in space.ideas %}
  <li>
    
    <div class="colour-pane">
      <ul class="swatches" data-colours="{{idea.custom1}}">
      </ul>
      <div class="colour-info">
        <p><a href="{{idea.permalink}}">{{idea.title}}</a> - Found: <a href="{{idea.content}}">{{idea.content}}</a></p>
      </div><!-- /.colour-info -->  
    </div><!-- /.colour-pane -->

  </li>
  {% endfor %}
</ul>

{% else %}

<div class="alert">
  <h1>Uhoh, it doesn't look like there are any {{ theme.ideas_context }} to show you!</h1>
  {% if current_user %}
  <p>Add a {{theme.idea_context}} by using the 'Add {{theme.idea_context}}' button.</p>
  {% else %}
  <p>Login with Twitter or Facebook to be the first to add a {{theme.idea_context}}.</p>
  {% endif %}
</div>

{% endif %}


