<div class="new-idea-form">
  
  {% if current_user %}

  <form id="entry_form" method="post" action="{{space.permalink}}/ideas?popup=yes" class="add-new" enctype="multipart/form-data">
      
      
      <input class="input-text" id="title" name="idea[title]" type="text" placeholder="Swatch name..." />
      
      <input type="submit" value="Submit" class="input-submit" />
      <div class="clearfix"></div>
      <div class="checkarea"><input type="checkbox" name="idea[should_post_to_social]" value="1" checked />share to {{current_user.provider}}?</div>

      <a href="#" id="cancel-popup">Cancel</a>

      <!-- Custom field 1 (prep time) -->
      <input id="colours" name="idea[custom1]" type="hidden" value="{{ params.colours }}">

      <input id="content" name="idea[content]" type="hidden" value="{{ params.url }}">
      
  </form>
  {% else %}
  <div class="alert">
    you need to login to add a {{ theme.idea_context }}!
  </div><!-- /.alert -->
  {% endif %}
  
</div>