<ul class="colours show-page">
  <li>
    
    <div class="colour-pane">
      <ul class="swatches" data-colours="{{idea.custom1}}">
      </ul>
      <div class="colour-info">
        <p><a href="{{idea.permalink}}">{{idea.title}}</a> | Found on <a href="{{idea.content}}">{{idea.content}}</a></p>
      </div><!-- /.colour-info -->  
    </div><!-- /.colour-pane -->

  </li>
</ul>


<!--	
{% if idea.liked? %}
<span class="liked">{{idea.likes}}</span>
{% else %}
<div class="likes" the_link="{{idea.like_link}}"><span class="likecount">{{idea.likes}}</span></div>
{% endif %}

{% if idea.user.uuid == current_user.uuid %}
<a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="editbtn">edit</a>
{% endif %}

<div id="share-button">
	<a href="http://twitter.com/home/?status={{space.title}} - {{idea.title}}: {{space.permalink}}/{{idea.permalink}}" target="_blank" title="share on Twitter" class="share twitter"><i></i>share on Twitter</a>
	<a href="http://www.facebook.com/sharer.php?u={{idea.permalink}}" title="share on Facebook" class="share facebook"><i></i>share on Facebook</a>
</div>
-->
		
<div class="dummy-header">
	<h2>Comments
	{% if current_user %}
	<a href="#comment-form" title="link to add a new {{ theme.comment_context }}" class="btn add-comment">Add {{ theme.comment_context }}</a>
	{% endif %}
	</h2>  
</div><!-- /.dummy-header -->

<!-- List the comments -->
<ul id="comments-list">
	{% if idea.comments != empty %}
	{% for comment in idea.comments %}
	<li>
		<a href="{{comment.user.profile_url}}" title="link to profile of {{comment.user.nickname}} on {{comment.user.provider}}"><img src="{{comment.user.image_url}}" alt="avatar for {{comment.user.nickname}}" width="60" height="60" class="avatar" /></a>
		<div class="comment-content"><i></i>{{comment.body | markdown}}</div>
		<div class="comment-meta">by <a href="{{comment.user.profile_url}}" title="Profile of {{comment.user.nickname}} on {{comment.user.provider}}">{{comment.user.nickname}}</a><br /> {{ comment.created_at | human_time_distance }} ago</div>
	</li>
	{% endfor %}
	{% else %}
	<li>
	There aren't any {{ theme.comments_context }} here yet, why not be the first to say something!
	</li>
	{% endif %}
</ul>

<!-- Add comments form -->
{% if current_user %}

<div class="dummy-header">
	<h2>Add a {{ theme.comment_context }}</h2>
</div><!-- /.dummy-header -->	
	
	<form action="{{idea.permalink}}/comments" method="post" charset="utf-8" class="form-comment">
		<textarea id="comment_body" name="comment[body]" class="input-textarea"></textarea>
		<input type="submit" name="submit" value="Post {{ theme.comment_context }}" class="input-submit" />
		<div class="checkarea"><input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="1" checked="checked" /> share this {{ theme.comment_context }} to {{current_user.provider}}?</div>
	</form>
	
{% else %}

<div class="dummy-header">
  <h2>add a comment</h2>
</div><!-- /.dummy-header -->
	
<div class="alert-message tip"><i></i><p>login with Twitter or Facebook to add {{ theme.comments_context }}</p></div>

<ul class="auth">
	<li class="twitter"><a href="/auth/twitter" class="button"><span></span>Twitter</a></li>
	<li class="facebook"><a href="/auth/facebook" class="button"><span></span>Facebook</a></li>
</ul>
{% endif %}
			
<!--
<div id="post-navigation">
<a href="#" title="#" class="prev">previous post</a>
<a href="#" title="#" class="next">next post</a>
</div>
-->

</div>