{% assign asset_url="http://dev.nouveller.com/colours" %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{space.summary}}">

    {% if idea %}
    <meta property="og:title" content="{{ idea.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ idea.permalink }}"/>
    <meta property="og:image" content="{{idea.images.first.square}}"/>
    <meta property="og:site_name" content="{{ space.title }}"/>
    <meta property="og:description" content="{{ idea.content }}" />
    {% else %}
    <meta property="og:title" content="{{space.title}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ space.permalink }}"/>
    <meta property="og:image" content="{{ space.ideas.first.images.first.square}}"/>
    <meta property="og:site_name" content="{{space.title}}"/>
    <meta property="og:description" content="{{space.summary}}" />
    {% endif %}
    
    <title>
    {% if idea %}
    {{idea.title}} &middot; {{space.title}}
    {% else %}
    {{space.title}}
    {% endif %}
    ..running..
    </title>

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ asset_url }}/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

    <script src="{{ asset_url }}/js/libs/modernizr-2.5.2.min.js"></script>

    {{ content_for_header }}
  </head>
  <body class="{% unless current_user %}logged-out{% endunless %}">

    <header>
      <h1><a href="{{space.permalink}}" title="link to {{space.title}}">{{space.title}}</a></h1>

      <div id="top-bar">
        <a href="{{space.permalink}}" title="{{space.title}}"><img src="http://rusic-tutorials-theme.s3.amazonaws.com/img/logo.png" alt="Best Recipes Logo" class="logo" /></a>
        <div id="user-block">
          {% if current_user %}
          <!-- User block -->
          <div id="logged-in">
            Hey, {{current_user.nickname}}<br/>
            <a href="/auth/signout" title="logout" class="logout">logout</a>
          </div>
          <img src="{{current_user.image_url}}" alt="avatar of {{current_user.nickname}}" class="avatar" width="40" height="40" />
          {% else %}
          <!--Login prompts -->
          <ul class="auth">
            <li class="twitter"><a href="/auth/twitter" class="button"><span></span>Twitter</a></li>
            <li class="facebook"><a href="/auth/facebook" class="button"><span></span>Facebook</a></li>
          </ul>
          <div class="alert-message tip">
            <i></i><p>login with twitter or facebook to add new or {{ theme.like_context }} {{ theme.ideas_context }}</p>
          </div>
          {% endif %}
          </div>
        </div>
    
      </header>

    {% if error %}
    <div class="alert alert-message error">
      {{ error }}
    </div>
    {% endif %}
    {% if alert %}
    <div class="alert alert-message warning">
      {{ alert }}
    </div>
    {% endif %}
    {% if notice %}
    <div class="alert alert-message success prompt">
      {{ notice }}
    </div>
    {% endif %}
      
    <div class="wrapper">
        {{yield}}
    </div><!-- /.wrapper -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset_url }}/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    
    <script src="{{ asset_url }}/js/plugins.js"></script>
    <script src="{{ asset_url }}/js/script.js"></script> 
  </body>
</html>